.pictures_container{
    display: grid;  
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(50px,auto);
    align-items: center;
    gap: 15px; 
    margin-right: 200px;
    margin-left: 200px;
    background-color: gainsboro;

    
} 
 
.pictures{
    max-width: 300px;
}